.create {
    padding: 20px 84px;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid lightgray;
}
.text {
    width: 100%;
    font-size: 28px;
    opacity: 0.5;
    font-family: 'Barlow';
}
