.main {
    width: 700px;
    display: flex;
    border: 2px solid lightgray;
    border-top: 1px solid rgb(250, 250, 250);
    flex-direction: column;
    -webkit-box-shadow: rgba(172, 172, 172, 0.75) 0px 20px 36px 6px;
    -moz-box-shadow: rgba(172, 172, 172, 0.75) 0px 20px 36px 6px;
    box-shadow: rgba(172, 172, 172, 0.75) 0px 20px 36px 6px;
}
